<section class="chat" *ngIf="chatIsReady$ | async; else unavailable">
  <div class="chat-container">
    <!-- New Channel Creation Section -->
    <app-new-channel (saved)="onCreate($event)"></app-new-channel>

    <!-- Main Chat Section -->
    <div id="root">
      <stream-channel-list></stream-channel-list>
      <stream-channel>
        <stream-channel-header></stream-channel-header>
        <stream-message-list></stream-message-list>
        <stream-notification-list></stream-notification-list>
        <stream-message-input></stream-message-input>
      </stream-channel>
    </div>
    <app-logout [currentUserName]="this.currentUserName" (logoutEvent)="logout()"></app-logout>
  </div>
</section>


<ng-template #unavailable>
  <div class ="chat-notification">    <h4>Login</h4>
    <form [formGroup]="loginForm" class="login-form">
      <div class="form-group">
        <label for="phone">Enter your phone number</label>
        <input
          type="number"
          id="phone"
          placeholder="Enter your phone number"
          class="form-control"
          formControlName="phone"  
        />
      </div>
      <div>
        <button class="btn btn-login" (click)="login()">Login</button>
      </div>
    </form></div>
</ng-template>

<ng-template #channelActionsTemplate let-channel="channel">
  <app-invite-button [channel]="channel"></app-invite-button>
</ng-template>